@page
@model WebGanadera.App.Presentacion.Pages.RegistroModel
@{
}

<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/Registro.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <style>

        body {
            height: 100%;
            font-family: 'Montserrat', sans-serif;
            background-image: url("https://i.ibb.co/rkK26wm/Whats-App-Image-2021-10-18-at-00-57-40-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .u-section-1 .u-text-1 {
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: black;
            font-size: 30px;
            margin: 0 auto 10px;
            padding: 20px 0 10px;
            text-align: center;
        }

        .u-section-1 .u-text-2 {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 1.35rem;
            font-weight: 700;
            margin: 30xp 0 30xp;
            padding: 50px 20px 10px;
            text-align: center;
        }

        .u-section-1 .u-text-3 {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 1.25rem;
            font-weight: 400;
            margin: 10xp 0 10xp;
            padding: 10px 20px 10px;
            text-align: center;
        }

        .u-section-1 .form-select {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            border-radius: 10px;
            width: 50%;
            margin: 10xp 50xp 10xp;
            padding: 10px 20px 10px;
            margin-top: 5px;
            padding-left: 15px;
            margin-bottom: 5px;
            padding-top: 10px;
            margin-left: 50%;
            transform: translateX(-50%);

        }

        .u-section-1 select {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            border-radius: 10px;
            width: 118%;
            margin: 10xp 50xp 10xp;
            padding: 10px 20px 10px;
            margin-top: 5px;
            padding-left: 15px;
            margin-left: 50%;
            transform: translateX(-50%);

        }

        .u-section-1 .form-control {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            border-radius: 10px;
            width: 50%;
            margin: 10xp 50xp 10xp;
            padding: 10px 20px 10px;
            margin-top: 5px;
            padding-left: 15px;
            margin-bottom: 5px;
            padding-top: 10px;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        .u-section-1 .needs-validation {
            background-color: white;
            width: 40%;
            height: inherit;
            margin: auto auto;
            margin-bottom: 2%;
            border-radius: 20px;
        }

        .u-section-1 .input-group {
            font-family: 'Montserrat', sans-serif;
        }

        .u-section-1 .btn-dark {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            color: white;
            background-image: none;
            background-color: black;
            border-radius: 30px;
            border-style: aquamarine;
            margin-left: 50%;
            transform: translateX(-50%);
            padding: 8px 25px 8px;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: center;
        }

        .u-section-1 form {
            display: flex;
            flex-direction: column;
        }

        .u-section-1 form a {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            text-decoration: none;
            color: rgb(29, 165, 51);
        }


        #footer-wrapper {
            color: white;
            /* Color del título */
            margin: 5px 10px;
            padding: 1px 0;
            text-align: center;
            font-size: 12px;
            /* Tamaño de la fuente del título */
        }

        .u-footer {
            background: #3c3c3c;
            /* Color de fondo de los gadgets */
            padding: 5px 5px;
        }

        #col1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        #col2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        #col3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        #col4 {
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            margin: 0;
            padding: 20xp;
            text-align: center;
        }

        #col5 {
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            margin: 0;
            padding: 20xp;
            text-align: center;
        }

        .u-footer .u-text-6 {
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            margin: 1px auto 0;
            text-align: center;
        }

        .u-footer .u-text-7 {
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
            margin: 1px auto 16px;
            text-align: center;
        }
    </style>

    

<body>
    ​
    <section class="u-section-1">
        <div class="u-sheet-1">
            <form class="needs-validation" novalidate>
                <h2 class="u-text-1">REGISTRO</h2>
                <div class="form-select">
                    <select class="custom-select" id="select-usuario" required>
                        <option value="nulo">Seleccionar tipo de usuario</option>
                        <option value="Ganadero">Ganadero</option>
                        <option value="Veterinario">Veterinario</option>
                    </select>
                </div>

                <div class="form-row">
                    <div class="input-group mb-3">
                        <label for="validationTooltip01"></label>
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre" required>
                    </div>
                    <div class="input-group mb-3">
                        <label for="validationTooltip02"></label>
                        <input type="text" class="form-control" id="validationTooltip02" placeholder="Apellido"
                            required>
                    </div>
                    <div class="input-group mb-3">
                        <label for="validationTooltip03"></label>
                        <input type="text" class="form-control" id="validationTooltip03" placeholder="E-mail" required>
                    </div>
                    <div class="form-select">
                        <select class="custom-select" id="select-usuario" required>
                            <option value="nulo">Tipo de documento</option>
                            <option value="Ganadero">Cédula de Ciudadanía</option>
                            <option value="Veterinario">Cédula de Extranjería</option>
                            <option value="Veterinario">Pasaporte</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label for="validationTooltip04"></label>
                        <input type="text" class="form-control" id="validationTooltip04"
                            placeholder="Número de documento" required>
                    </div>
                    <div class="form-select">
                        <label for="select-departamento-registro">Localización</label>
                        <select class="custom-select" id="select-departamento-registro" required>
                            <option value="nulo">Seleccione departamento</option>
                            <option value="Antioquia">Antioquia</option>
                            <option value="Caldas">Caldas</option>
                            <option value="Cundinamarca">Cundinamarca</option>
                            <option value="Tolima">Tolima</option>
                            <option value="Valle">Valle del Cauca</option>
                        </select>
                    </div>
                    <div class="form-select">
                        <label for="select-municipio-registo">Municipio</label>
                        <select class="custom-select" id="select-municipio-registo" required>
                        </select>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="validationTooltip05"></label>
                    <input type="text" class="form-control" id="validationTooltip05" placeholder="Tarjeta profesional"
                        required>
                </div>
                <div class="input-group mb-3">
                    <label for="validationTooltip06"></label>
                    <input type="text" class="form-control" id="validationTooltip06" placeholder="Veterinario" required>
                </div>

                <button class="btn-dark" type="submit">Registrar</button>
            </form>
        </div>


        </div>
    </section>

    <script>
        const d = document;
function registro (){
    const $DepartamentoRegistro = d.getElementById("select-departamento-registro")
    const $MunicipioRegistro = d.getElementById("select-municipio-registo")
    
    const Antioquia = ["Seleccione municipio","Barbosa", "Bello", "Caldas", "Envigado", "Fredonia", "Itagüi", "La Ceja", "La Estrella", "Medellín", "Sabaneta"]
    const Caldas = ["Seleccione municipio","Chinchiná", "Manizales", "Neira", "Palestina", "Villamaría"]
    const Cundinamarca = ["Seleccione municipio","Bogotá", "Chía", "Cota", "Funza", "Mosquera", "La Calera", "Sibaté", "Soacha"]
    const Tolima = ["Seleccione municipio","Anzoátegui", "Alvarado", "Cajamarca", "Coello", "El Espiral", "Flandes", "Ibagué", "Rovira"]
    const Valle = ["Seleccione municipio","Cali", "Candelaria", "Dagua", "El Cerrito", "Florida", "Jamundí", "Palmira", "Pradera", "Vijes", "Yumbo"]

    

    
    d.addEventListener("change", e =>{
        
        /* Departamentos y Municipios de Modal Cita Medica*/

        if ($DepartamentoRegistro.value === "Antioquia" ) {
            $MunicipioRegistro.innerHTML=" "
            Antioquia.forEach(el =>{
                let $option = d.createElement("option")
                $option.value = el
                $option.innerText = el
                $MunicipioRegistro.appendChild($option)
            })
        }
        if ($DepartamentoRegistro.value === "Caldas") {
            $MunicipioRegistro.innerHTML=" "
            Caldas.forEach(el =>{
                let $option = d.createElement("option")
                $option.value = el
                $option.innerText = el
                $MunicipioRegistro.appendChild($option)
            })
        }
        if ($DepartamentoRegistro.value === "Cundinamarca") {
            $MunicipioRegistro.innerHTML=" "
            Cundinamarca.forEach(el =>{
                let $option = d.createElement("option")
                $option.value = el
                $option.innerText = el
                $MunicipioRegistro.appendChild($option)
            })
        }
        if ($DepartamentoRegistro.value === "Tolima") {
            $MunicipioRegistro.innerHTML=" "
            Tolima.forEach(el =>{
                let $option = d.createElement("option")
                $option.value = el
                $option.innerText = el
                $MunicipioRegistro.appendChild($option)
            })
        }
        if ($DepartamentoRegistro.value === "Valle") {
            $MunicipioRegistro.innerHTML=" "
            Valle.forEach(el =>{
                let $option = d.createElement("option")
                $option.value = el
                $option.innerText = el
                $MunicipioRegistro.appendChild($option)
            })
        }
        if ($DepartamentoRegistro.value === "nulo") {
            $MunicipioRegistro.innerHTML=" "
        }
            
    })

}
registro()


    </script>    
</body>
</head>

</html>