@page
@model PrivacyModel
@{

  ViewData["Title"] = "Contacto";
}

<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>Contacto</title>
  <link rel="stylesheet" href="CONTACTO.css" media="screen">

  <style>
    body {
      height: 100%;
      font-family: 'Montserrat', sans-serif;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("https://www.latercera.com/resizer/sjr5z7PtsVq-HUpPkvgvVF3jmkI=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/BJR47U2GXRCFZFOAZH55MXUITE.jpg"); 
    }


    .u-section-1 .u-text-2 {
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 2.25rem;
      margin: 10px auto 0;
      text-align: center;
    }


    

    .u-section-1 .u-text-3 {
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 1.25rem;
      font-weight: 400;
      margin: 10xp 0 10xp;
      padding: 10px 20px 10px;
      text-align: center;
    }

    .u-section-1 .form-control {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      border-radius: 10px;
      width: 50%;
      margin: 10xp 50xp 10xp;
      padding: 10px 20px 10px;
      margin-top: 5px;
      padding-left: 15px;
      margin-bottom: 5px;
      padding-top: 10px;
      margin-left: 25%;

    }

    .u-section-1 .form-group textarea {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      border-radius: 10px;
      width: 50%;
      height: 150px;
      margin: 10xp 50xp 10xp;
      padding: 10px 20px 10px;
      margin-top: 5px;
      padding-left: 15px;
      margin-bottom: 5px;
      padding-top: 10px;
      margin-left: 25%;
      resize: none;

    }

    .u-section-1 .btn-dark {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      color: white;
      background-image: none;
      background-color: black;
      border-radius: 30px;
      border-style: aquamarine;
      margin: 1px 1px 1px;
      margin-top: 5px;
      padding-left: 15px;
      margin-bottom: 5px;
      padding-top: 10px;
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 12px 30px 12px;
      position: relative;
      margin-top: 3%;
      margin-bottom: 2%;
      text-align: center;
    }

    .mapa {
      margin: 1px 1px 1px;
      margin-top: 5px;
      padding-left: 15px;
      margin-bottom: 5px;
      padding-top: 10px;
      margin-left: 27%;
      margin-top: 1%;
      margin-bottom: 2%;
      text-align: center;
    }


    #footer-wrapper {
      color: white;
      /* Color del título */
      margin: 5px 10px;
      padding: 1px 0;
      text-align: center;
      font-size: 12px;
      /* Tamaño de la fuente del título */
    }

    .u-footer {
      background: #3c3c3c;
      /* Color de fondo de los gadgets */
      padding: 5px 5px;
    }

    #col1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin: 0;
      padding: 20px;
      text-align: center;
    }

    #col2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin: 0;
      padding: 20px;
      text-align: center;
    }

    #col3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin: 0;
      padding: 20px;
      text-align: center;
    }

    #col4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin: 0;
      padding: 20xp;
      text-align: center;
    }

    #col5 {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin: 0;
      padding: 20xp;
      text-align: center;
    }

    .u-footer .u-text-6 {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin: 1px auto 15px;
      text-align: center;
    }

    .u-footer .u-text-7 {
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      margin: 1px auto 16px;
      text-align: center;
    }
  </style>

<body>
  ​
  <section class="u-section-1">
    <div class="u-sheet-1">
      <h2 class="u-text-2"><b>GACONSAPP</b></h2>
      <p class="u-text-3">Cali, Bogotá, Ibagué, Manizales, Medellín<br>123-456-789<br>contacto@gaconsapp.com</p>
      <form>
        <div class="form-group">
          <label for="input-nombre"></label>
          <input type="nombre" class="form-control" id="input-nombre" placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="input-email"></label>
          <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
        </div>

        <div class="form-group">
          <textarea class="textarea" placeholder="Inquietud" id="text-inquietud" style="height: 100px"></textarea>
        </div>
        <button type="submit" class="btn btn-dark"><b>ENVIAR</b></button>
      </form>
    </div>


    </div>
  </section>




</body>
</head>

</html>